/* ==================== CSS File =================== */

/* ==================== Media Queries =================== */
$bp-smallest: 24em; // for 375px
$bp-small: 37.5em; // for 600px
$bp-medium:56.25em; // for 900px
$bp-large: 75em; // for 1200px
$bp-largest:112.5em; // for 1800px

/* ==================== Fonts =================== */
$font-primary: 'Poppins', sans-serif;

/* ==================== Colors =================== */
$color-white: #fff;
$color-black: #000;
$color-primary: #68C3EB;
$color-secondary: #FFC85B;
$color-text: #2d2d2d;
$color-grey-light: #e6e6e6;
$color-heading: #000;
$color-footer: #B6B6B6;

/* ==================== Center our content =================== */
.row{
    max-width: 114rem;
    margin: 0 auto;
    @media only screen and (max-width: $bp-large){
        max-width: 100rem;
        margin: 0 auto;
    }
    @media only screen and (max-width: $bp-medium){
        max-width: 80rem;
        margin: 0 auto;
    }
    @media only screen and (max-width: $bp-small){
        max-width: 55rem;
        margin: 0 auto;
    }
    @media only screen and (max-width: $bp-smallest){
        max-width: 50rem;
        margin: 0 auto;
    }
}

/* ==================== Basic Styling =================== */
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: $color-text;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5{
    color: $color-heading;
}
.upper-text{
    text-transform: uppercase;
}
.center-text{
    text-align: center;
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    @media only screen and (max-width: $bp-large){
        font-size: 56.25%; //9rem
    }
    @media only screen and (max-width: $bp-medium){
        font-size: 50%; //8rem
    }
    @media only screen and (max-width: $bp-small){
        font-size: 47.35%; //7rem
    }
    @media only screen and (max-width: $bp-smallest){
        font-size: 37.5%; //6rem
    }
}
body{
    font-family: $font-primary;
    font-weight: 400;
    color: $color-text;
    line-height: 1.6;
    overflow: hidden;
}
/* ==================== Header Starts Here =================== */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    // we want sticky header
    height: 9.6rem;
    z-index: 9999;
}
.logo{
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.main-nav{
    @media only screen and (max-width: $bp-large){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color-black, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
        transition: all 0.5s;
        z-index: 9999;
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 3.2rem;
        transform: translateX(-40rem);
        @media only screen and (max-width: $bp-large){
            flex-direction: column;
            transform: translateX(0);
        }
    }
    &__link{
        display: inline-block;
        font-size: 1.8rem;
        color: $color-black;
        font-weight: 500;
        transition: all 0.3s;
        &:hover{
            color: $color-primary;
        }
    }
    &__cta{
        background-color: $color-black;
        padding: 1.2rem 2rem;
        color: $color-white;
        border-radius: 0.9rem;
        transform: translateX(35rem);
        @media only screen and (max-width: $bp-large){
            transform: translateX(0);
        }
        &:hover{
            background-color: $color-primary;
            color: $color-black;
        }
    }
}
.nav-open .main-nav{
    @media only screen and (max-width: $bp-large){
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        &__link{
            color: $color-white;
            font-size: 3rem;
        }
    }
}

.nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
}
.nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
}
.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
    @media only screen and (max-width: $bp-large){
        display: block;
        z-index: 9999;
    }
}
.icon-mobile-nav{
    font-size: 4rem;
    cursor: pointer;
    color: $color-primary;
}
.icon-mobile-nav[name="close-outline"]{
    display: none;
}
/* ==================== Sticky Navigation =================== */
.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba($color-primary, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba($color-black, 0.3);
}
.sticky .hero{
    margin-top: 9.6rem;
}
.sticky .main-nav__link{
    color: $color-white;
    &:hover{
        color: $color-secondary;
    }
}
.sticky .logo{
    color: $color-white;
}
.sticky .main-nav__cta{
    background-color: $color-secondary;
    color: $color-white;
    &:hover{
        color: $color-primary;
    }
}


/* ==================== Header Ends Here =================== */

/* ==================== Hero starts Here =================== */

.hero{
    padding: 10rem 0 10rem 0;
    &__content{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-medium){
            flex-direction: column;
        }
    }
    &__textbox{
        flex: 0 0 50%;
        padding: 0 5vw 0 0;
        & > *:not(:last-child){
            margin-bottom: 4rem;
        }
        &--text{
            font-size: 1.4rem;
        }
    }
    &__photo{
        flex: 0 0 50%;
    }
}

/* ==================== Heading starts Here =================== */
.heading-primary{
    font-size: 8rem;
    color: $color-heading;
    line-height: 1;
    font-weight: 700;
}
.heading-secondary{
    font-size: 5rem;
    color: $color-heading;
    &__about{
        transform: translateY(-5rem);
    }
}
.heading-tertiary{
    font-size: 4.5rem;
    color: $color-heading;
    line-height: 1;
    font-weight: 700;
}

/* ==================== Button starts Here =================== */
.btn{
    display: inline-block;
    &__primary{
        padding: 1.2rem 2.4rem;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 0.9rem;
        font-size: 1.4rem;
        transition: all 0.3s;
        &:hover{
            background-color: $color-black;
            color: $color-white;
        }
    }
    &__secondary{
        padding: 1.2rem 3.2rem;
        background-color: $color-black;
        color: $color-white;
        border-radius: 0.9rem;
        font-size: 1.4rem;
        transition: all 0.3s;
        &:hover{
            background-color: $color-primary;
            color: $color-black;
        }
        &--products{
            transform: translateY(-10rem);
        }
    }
}

/* ==================== Hero Ends Here =================== */

/* ==================== Section About starts Here =================== */
.about{
    padding: 10rem 0 10rem 0;
    &__content{
        display: flex;
        align-items: center;
        @media only screen and (max-width:$bp-medium){
            flex-direction: column;
        }
    }
    &__photo{
        flex: 0 0 50%;
        padding: 5vh 5vw 5vh 0;
        @media only screen and (max-width:$bp-medium){
            order: 1;
        }
        &--img{
            border-radius: 1rem;
            @media only screen and (max-width:$bp-medium){
                max-width: 70%;
            }
        }
    }
    &__textbox{
        flex: 0 0 50%;
        &--text{
            font-size: 1.4rem;
            margin-bottom: 4rem;
            background-color: $color-white;
            padding: 4vh 2vw 8vh 2vw;
            border-radius: 1rem;
            transform: translate(-20rem, 10rem);
            @media only screen and (max-width:$bp-medium){
                transform: translate(0);
            }
        }
    }
    
}
/* ==================== Section About ends Here =================== */

/* ==================== Section services starts Here =================== */
.services{
    padding: 10rem 0;
    &__content{
        display: flex;
        align-items: center;
        gap: 2rem;
        @media only screen and (max-width: $bp-large){
            flex-direction: column;
        }
    }
    &__left{
        flex: 0 0 40%;
        &--text{
            font-size: 1.4rem;
            margin: 2rem 0 4rem 0;
        }
    }
    &__right{
        flex: 0 0 50%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 1rem;
        &--item{
            &-desc{
                display: flex;
                align-items: flex-start;
                gap: 2rem;
            }
            &-icon{
                font-size: 2.8rem;
                color: $color-primary;
            }
            &-name{
                font-size: 1.6rem;
                font-weight: 600;
            }
            &-text{
                font-size: 1.2rem;
            }
        }
    }
}
/* ==================== Section services ends Here =================== */

/* ==================== Section Products starts Here =================== */
.products{
    padding: 5rem 0;
    &__text{
        font-size: 1.4rem;
        padding: 2vh 10vw;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        &--item{
            text-align: center;
            &-desc{
                transform: translate(9rem, -15rem);
                width: 15rem;
                height: 10rem;
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
            }
            &-name{
                font-size: 1.8rem;
                font-weight: 800;
            }
            &-price{
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}
/* ==================== Section Products ends Here =================== */

/* ==================== Section Taste starts Here =================== */
.taste{
    padding: 10rem 0;
    transform: translateY(-10rem);
    &__content{
        display: flex;
        align-items: center;
        @media only screen and (max-width:$bp-medium){
            flex-direction: column;
        }
    }
    &__text{
        flex: 0 0 50%;
        @media only screen and (max-width:$bp-medium){
            order: 1;
        }
        & > *:not(:last-child){
            margin-bottom: 4rem;
        }
        &--para{
            font-size: 1.4rem;
        }
    }
    &__photo{
        flex: 0 0 50%;
        &--img{
            @media only screen and (max-width:$bp-medium){
                max-width: 70%;
            }
        }
    }
}
/* ==================== Section Taste Ends Here =================== */

/* ==================== Section Testimonials starts Here =================== */
.testimonials{
    &__content{
        display: flex;
        align-items: center;
        padding: 10rem 0;
        @media only screen and (max-width:$bp-medium){
            flex-direction: column;
        }
    }
    &__text{
        flex: 0 0 50%;
        & > *:not(:last-child){
            margin-bottom: 4rem;
        }
        &--para{
            font-size: 1.6rem;
            padding: 0 2vw 0 0;
        }
        &--icon{
            &-star{
                font-size: 2rem;
                color: $color-primary;
            }
        }
        
    }
    &__photo{
        flex: 0 0 50%;
        &--img{
            border-radius: 3rem;
            @media only screen and (max-width:$bp-medium){
                flex-direction: column;
                @media only screen and (max-width:$bp-medium){
                    max-width: 70%;
                }
            }
        }
    }
}
/* ==================== Section Testimonials ends Here =================== */



/* ==================== Section Form starts Here =================== */
.form{
    padding: 10rem 0 15rem 0;
    
    &__content{
        background-color: $color-primary;
        padding: 8rem 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 2rem;
        @media only screen and (max-width: $bp-medium){
            flex-direction: column;
            gap: 4rem;
        }
        &--input{
            padding: 2rem 6rem;
            border: none;
            outline: none;
            border-radius: 0.9rem;
        }
        &--icon{
            transform: translateX(-10rem);
            &-arrow{
                font-size: 6rem;
                color: $color-white;
                &::before{
                    content: '';
                    width: 50rem;
                    height: 50rem;
                    border-radius: 50%;
                    background-color: green;
                    color: green;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
/* ==================== Section Form ends Here =================== */

/* ==================== Section Footer starts Here =================== */
.footer{
    padding: 5rem 0;
    color: $color-footer;
    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        @media only screen and (max-width:$bp-small){
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        }
    }
    &__logo{
        font-size: 3.2rem;
        color: $color-black;
        margin-bottom: 2rem;
    }
    &__text{
        font-size: 1.4rem;
    }
    &__list{
        & > *:not(:last-child){
            margin-bottom: 2.5rem;
        }
    }
    &__link{
        font-size: 1.6rem;
        color: $color-footer;
        transition: all 0.3s;
        &:hover{
            color: $color-secondary;
        }
        &--main{
            font-size: 2.6rem;
            color: $color-black;
        }
    }
}
/* ==================== Section Footer Ends Here =================== */





